obj/Debug/net8.0/
bin/Debug/net8.0/csharp_test
bin/Debug/net8.0/csharp_test.deps.json
bin/Debug/net8.0/csharp_test.dll
bin/Debug/net8.0/csharp_test.pdb
bin/Debug/net8.0/csharp_test.runtimeconfig.json
